html {
    position: relative;
    min-height: 100%;
}
body {
  margin: 0 0 100px; 
  font:15px/1.5 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  background-color:#ffffff;  
  color:#777777;
  border-color:#dddddd;
  width:960px;
  background-image:url("../images/leaves.png");
  background-repeat:repeat;
  margin:auto;
}
/* Global */
.container{
    margin:auto;
    background-color:#ffffff;
    overflow:hidden;
}
ul{
    margin:0;
    padding:0;
}

/* Header */
header{
    background-color:#ffffff;
    border-color:#cccccc;
    border-bottom: #777777 3px solid;
}
header a{
    color:#777777;
    text-decoration:none;
}
header li{
    display:inline;
    padding: 0px 20px 0px 20px;
}
header #logo-name h1{ 
    float:left;
    margin:0;
}
header nav{
    float:right;
    /* margin-top:10px;
    padding-bottom: 20px; */
}

/* Headings */
h1, h3{
    background-color:#4aaaa5;
    font-family:'Georgia', Times, 'Times New Roman', serif;
    color:#ffffff;

}
h2{
    color:#4aaaa5;
    border-bottom:#777777 3px solid;
    
}
footer{
    background-color:#666666;
    margin:0;
    border-top:8px solid #4aaaa5;
}

img{
    width:20%;
    height:20%;
    float:left;
    margin-right:20px;
}
.clearfix{
    overflow:auto;
}
.footer {
    position:absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align:center;
    height:20px;
}


/* index.html */








/* contact.html */

/* portfolio.html */
